<div class="container">
  <div class="jumbotron">
    <h1>Eficode Book Library</h1>
    <p>by Shahin Safari</p>
  </div>
  <div ng-controller="BooksCtrl">

    <div class="row">
      <div class="col-md-4">
        <input ng-change="filterBooks()" type="text" id="search" class="form-control" ng-model="search" placeholder="Type search phrase here..." />
      </div>
    </div>

    <div class="col-md-12">
      <table class="table table-striped">
          <thead>
                  <tr>
                  <th class="col-md-2">Title</th>
                  <th class="col-md-2">Author</th>
                  <th class="col-md-3">Description</th>
                  <th class="col-md-3">Reserved</th>
                  <th class="col-md-2">Actions</th>
                </tr>
          </thead>
        <tbody>
            <tr ng-repeat="book in books" ng-include="toggleForm(book)"></tr>
        </tbody>
      </table>
    </div>


    <div class="col-md-8">
      <label>*******</label><br>
      <label>Add a new book:</label>
        <form class="form-inline" ng-submit="addBook()">
          <div class="form-group">
            <input type="text" class="form-control" name="Title" placeholder="Title" ng-model="book.title" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="Author" placeholder="Author" ng-model="book.author" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="Description" placeholder="Description" ng-model="book.description" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="Reserved" placeholder="Reserved" ng-model="book.reserved" />
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>

      <script type="text/ng-template" id="form">
              <td>
                <input ng-model="editing.title" type="text" class="form-control" name="title" />
              </td>
              <td>
                <input ng-model="editing.author" type="text" class="form-control" name="author" />
              </td>
              <td>
                <input ng-model="editing.description" type="text" class="form-control" name="description" />
              </td>
              <td>
                <input ng-model="editing.reserved" type="text" class="form-control" name="reserved" />
              </td>
              <td>
                <button ng-click="hideForm()" class="btn btn-default btn-xs">Cancel</button>
                <button ng-click="updateBook($index)" class="btn btn-success btn-xs">Save</button>
              </td>
    </script>

    <script type="text/ng-template" id="row">
              <td>
                <span>{{book.title}}</span>
              </td>
              <td>
                <span>{{book.author}}</span>
              </td>
              <td>
                <span>{{book.description}}</span>
              </td>
              <td>
                <span>{{book.reserved}}</span>
              </td>
              <td>
                  <button ng-click="editBook(book)" class="btn btn-primary btn-xs">Edit</button>
                  <button ng-click="destroyBook(book, $index)" class="btn btn-danger btn-xs">Delete</button>
              </td>
    </script>



    </div>
</div>
